<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static', filename='telemetry/time_trial_telem/tt_telem.css')}}">
</head>

<body>
    <div class="main">
        <div class="header">
            <h2 class="header-h2">
                Telemetry
            </h2>
            <button class="back-to-homepage" type="button"><a href="/">homepage</a></button>
            <!-- <form action=""><button type="submit">Display Sessions</button></form> -->
            {% block content%}
                {%for sess in session_data%}
                    {{sess.session_id}}
                {% endfor%}

            {% endblock %}
        </div>
        <div class="container">

            <div class="main-info">
                <div class="drs-box">
                    <h4 class="drs-header">
                        DRS
                    </h4>
                </div>
                <div class="ers-box">
                    <h4 class="ers-header">
                        ERS
                    </h4>
                </div>
                <div class="speedometer-box">
                    <div class="progress-wrapper">
                        <svg x="0px" y="0px" viewBox="37 -5 120 100" width="120" height="100">
                            <path class="grey" d="M55,90
                                                       A55,55 0 1,1 140,90" style="fill:none;" />
                            <path class="red" d="M55,90
                                                       A55,55 0 1,1 140,90" style="fill:none;" />
                        </svg>
                    </div>
                </div>
                <div class="speed-box">
                    <p class="number speed-header">54</p>
                </div>
                <div class="throttle-box">
                    <svg class="throttle-rect-svg" width="30" height="120">
                        <rect class="throttle-rect" width="30" height="120" fill="#34cc0a" y="0%" stroke="#fff"
                            stroke-width="2px" />
                    </svg>
                    <svg width="30" height="120">
                        <rect width="30" height="120" fill="#fff" y="0%" />
                    </svg>
                </div>
                <div class="brake-box">
                    <svg class="brake-rect-svg" width="30" height="120">
                        <rect class="brake-rect main-rect" width="30" height="120" fill="#870404" y="0%" stroke="#fff"
                            stroke-width="2px" />
                    </svg>
                    <svg width="30" height="120">
                        <rect width="30" height="120" fill="#fff" y="0%" />
                    </svg>
                </div>
                <div class="gear-box">
                    <h4 class="gear-count gear-header">4</h4>
                </div>


            </div>
            <div class="tyre-panel">
                <h3 class="tyre-header">Tyre Panel</h3>
                <div class="tyre-grid">
                    <div class="tyre-wear-boxes">
                        <div class="tyre-box">
                            <h4 class="tyre-wear-count">Wear: 27%</h4>
                        </div>
                        <div class="tyre-box">
                            <h4 class="tyre-wear-count">Wear: 24%</h4>
                        </div>
                        <div class="tyre-box">
                            <h4 class="tyre-wear-count">Wear: 22%</h4>
                        </div>
                        <div class="tyre-box">
                            <h4 class="tyre-wear-count">Wear: 23%</h4>
                        </div>
                    </div>

                    <div class="tyre-temp-box">
                        <h4 class="tyre-surface-temp">91 C</h4>
                        <h4 class="tyre-surface-temp">93 C</h4>
                        <h4 class="tyre-surface-temp">95 C</h4>
                        <h4 class="tyre-surface-temp">96 C</h4>

                    </div>
                </div>
            </div>

            <div class="lap-data">
                <div class="current-lap lap-element">
                    <h3 class="lap-header">Current lap</h3>
                    <h4 class="time">running time</h4>
                    <div class="sectors">
                        <div class="current-sector s1 sector">
                            <h4 class="sector-heading">S1</h4>
                            <h4 class="sector-time current">21:972</h4>
                        </div>
                        <div class="current-sector s2 sector">
                            <h4 class="sector-heading">S2</h4>
                            <h4 class="sector-time current">23:650</h4>
                        </div>
                        <div class="current-sector s3 sector">
                            <h4 class="sector-heading">S3</h4>
                            <h4 class="sector-time current">24:326</h4>
                        </div>
                    </div>


                </div>
                <div class="best-lap lap-element">
                    <h3 class="lap-header">Best lap</h3>

                    <h4 class="best-lap-time">1:10:000</h4>
                    <div class="sectors">
                        <div class="best-sector s1 sector">
                            <h4 class="sector-heading">S1</h4>
                            <h4 class="sector-time best">21:972</h4>
                        </div>
                        <div class="best-sector s2 sector">
                            <h4 class="sector-heading">S2</h4>
                            <h4 class="sector-time best">23:650</h4>
                        </div>
                        <div class="best-sector s3 sector">
                            <h4 class="sector-heading">S3</h4>
                            <h4 class="sector-time best">24:326</h4>
                        </div>
                    </div>
                </div>
                <div class="last-lap lap-element">
                    <h3 class="lap-header">Last lap</h3>

                    <h4 class="last-lap-time">1:11:000</h4>
                    <div class="sectors">
                        <div class="last-sector s1 sector">
                            <h4 class="sector-heading">S1</h4>
                            <h4 class="sector-time last">21:972</h4>
                        </div>
                        <div class="last-sector s2 sector">
                            <h4 class="sector-heading">S2</h4>
                            <h4 class="sector-time last">23:650</h4>
                        </div>
                        <div class="last-sector s3 sector">
                            <h4 class="sector-heading">S3</h4>
                            <h4 class="sector-time last">24:326</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="position-box">
                <h4 class="position-count">P5</h4>
            </div> -->
            <!-- <div class="engine-rpm-box">
                <h4 class="engine-rpm-count">7000</h4>
                <h4 class="engine-rpm-header">Engine RPM</h4>
            </div> -->




            <!-- <div class="player-ahead">
                <h4 class="player-ahead-header">Player ahead</h4>
                <h4 class="player-ahead-name">Bottas</h4>
                <h4 class="player-ahead-time">+02:421</h4>
                <h4 class="player-ahead-pace">1:13:200</h4>
            </div>
            <div class="player-behind">
                <h4 class="player-behind-header">Player behind</h4>
                <h4 class="player-behind-name">Tsunoda</h4>
                <h4 class="player-behind-time">+01:275</h4>
                <h4 class="player-behind-pace">1:13:900</h4>
            </div> -->





        </div>



        <!-- SPEED -->
        <!-- <div class="circular">
        <div class="inner"></div>
        <div class="number"></div>
        <div class="circle">
            <div class="bar right">
                <div class="progress"></div>
            </div>
            <div class="bar left">
                <div class="progress"></div>
            </div>

        </div>
    </div> -->
        <!-- SPEED -->

        <!-- <div class="btns">
        <button class="start">Start receiving data</button>
        <button class="stop">Stop receiving data</button>

    </div> -->


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='telemetry/streaming_toggle.js')}}"></script>
        <script src="{{ url_for('static', filename='telemetry/time_trial_telem/tt_telem.js')}}"></script>
</body>

</body>

</html>