:root {
    --right-rotation: '0deg';
    --left-rotation: '0deg';
}

html {
    /* height: 100%; */
    height: 100vh;
}

body {
    background-color: #303030;
    color: white;
    width: 94%;
    margin: 0 auto;

}

.container {
    display: grid;
    /* grid-template-columns: repeat(9, 1fr); */
    /* grid-template-rows: repeat(6, 1fr); */
    align-items: center;
    text-align: center;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    height: 20vh;

}

.main-info {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    /* grid-template-columns: auto auto auto auto auto; */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto auto auto auto; */
    /* min-width: 100px;
    min-height: 100px; */
    column-gap: 5%;
    row-gap: 5%;
    align-items: center;
    justify-items: center;


}

.header {
    text-align: center;
    grid-row: 1/2;
    grid-column: 5/6;
}

.drs-box {
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3;

}

.ers-box {
    text-align: center;
    grid-row: 1/2;
    grid-column: 4/5;
}

.speed-box {
    text-align: center;
    grid-row: 3/4;
    grid-column: 3/4;
}

.speedometer-box {
    transform: scale(1.3);
    grid-row: 2/5;
    grid-column: 2/5;

}

.brake-box {
    grid-row: 1/5;
    grid-column: 1/2;

}

.throttle-box {
    grid-row: 1/5;
    grid-column: 5/6;
    align-self: end;

}

.gear-box {
    grid-row: 4/5;
    grid-column: 3/4;

}


.drs-check {
    margin: 0;
}

.drs-header {
    margin: 0;
    padding: 0;
}

.ers-header {
    margin: 0;
    padding: 0;
}

.speed-header {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.gear-header {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.brake-header {
    margin: 0;
    padding: 0;
}

.throttle-header {
    margin: 0;
    padding: 0;
}




.progress-wrapper {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

path {
    stroke-linecap: round;
    stroke-width: 7;
}

.grey {
    stroke: #000000;
}

.red {
    stroke: #349905;
    stroke-dasharray: 248.45840454101562;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.1s ease;
}



.progress-container {
    stroke: darken(#392F32, 5%);
    stroke-width: 2px;
    fill: #ffffff;
}


.progress-content {
    stroke: darken(#C2E362, 5%);
    stroke-width: 2px;
    fill: #ffffff;
}

.progress-content line {
    fill: #fff !important;
}

.throttle-rect-svg {

    position: absolute;
}

.main-rect {
    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 0.1s;
    transform: scaleY(70%);
    transform-origin: 100% 100%;
}

/* .throttle-rect {

    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 0.1s;
    transform: scaleY(40%);
    transform-origin: 100% 100%;

} */

/* @keyframes rect-progress {

} */

.stat {
    width: 200px;
}


/* Throttle progress bar */
.load-throttle {
    margin: 0 auto;
    width: 25px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}

.throttle {
    width: 100%;
    display: block;
    font-family: arial;
    font-size: 12px;
    background-color: #27bb19;
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 30%;
}



.load-brake {
    margin: 0 auto;
    width: 25px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}






.brake-rect-svg {
    position: absolute;
}






.front-left-tire-box {
    grid-row: 4/5;
    grid-column: 1/2;
    border: 2px solid white;
}

.front-right-tire-box {
    grid-row: 4/5;
    grid-column: 2/3;
    border: 2px solid white;
}

.position-box {
    grid-row: 4/5;
    grid-column: 3/4;
    border: 2px solid white;
}

.rear-left-tire-box {
    grid-row: 5/6;
    grid-column: 1/2;
    border: 2px solid white;
}

.rear-right-tire-box {
    grid-row: 5/6;
    grid-column: 2/3;
    border: 2px solid white;
}

.engine-rpm-box {
    grid-row: 5/6;
    grid-column: 3/4;
    border: 2px solid white;
}

.lap-times {
    grid-row: 1/2;
    grid-column: 8/10;
    border: 2px solid white;

}

.best-lap {}

.best-lap-number {}

.last-lap {}

.last-lap-number {}

.current-lap-sectors {
    grid-row: 2/3;
    grid-column: 8/10;
    border: 2px solid white;

}



.current-lap-header {
    text-align: center;
    margin: 0;
}

.sectors {
    text-align: center;
}

.sector-time {
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}

.sector {}

.player-ahead {
    grid-row: 4/5;
    grid-column: 8/9;
    text-align: center;
    align-items: center;
    border: 2px solid white;


}

.player-ahead-header {
    margin: 0;
}

.player-ahead-name {
    margin: 0;
}



.player-ahead-time {}

.player-ahead-pace {}

.player-behind {
    grid-row: 4/5;
    grid-column: 9/10;
    text-align: center;
    align-items: center;
    border: 2px solid white;


}

.player-behind-header {
    margin: 0;
}

.player-behind-name {
    margin: 0;
}


.player-behind-time {}

.player-behind-pace {}



.best-time {
    color: #bd34eb;
}


.img-div {
    height: 100%;
    width: 100%;
    grid-row: 1/5;
    grid-column: 4/7;
    /* mix-blend-mode: multiply; */
    background-image: url('spa.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: relative;

    /* background-color: blue; */
}