:root {
    --right-rotation: '0deg';
    --left-rotation: '0deg';
}

html {
    /* height: 100%; */
    height: 100vh;
}

body {
    background-color: #303030;
    color: white;
    width: 94%;
    margin: 0 auto;
    /* height: 100vh; */
    /* overflow: hidden; */


}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    text-align: center;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    height: 20vh;

}

.container div {}

.header {
    text-align: center;
    grid-row: 1/2;
    grid-column: 5/6;
}

.drs-box {
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: end;
    border: 2px solid white;


}

.drs-check {
    margin: 0;
}

.drs-header {
    margin: 0;
}

.speed-box {
    /* transform: scale(0.5); */
    grid-row: 2/3;
    grid-column: 1/2;
    border: 2px solid white;

}


/* .circular {
    height: 100px;
    width: 100px;
    position: relative;
    transform: scale(1);

}

.circular .inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #303030;
    border-radius: 100%;

}

.circular .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {

    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #00c500;
}

.circle .right .progress {
    z-index: 1;
    animation: left 0s linear both;

}

@keyframes right {
    100% {
        transform: rotate(var(--right-rotation));
    }
}

.circle .left {
    transform: rotate(180deg);
    z-index: 3;

}

.circle .left .progress {
    animation: right 0s linear both;
    animation-delay: 0s;
}

@keyframes left {
    100% {
        transform: rotate(var(--left-rotation));
    }
} */

.progress-wrapper {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

path {
    stroke-linecap: round;
    stroke-width: 7;
}

.grey {
    stroke: #000000;
}

.red {
    stroke: #349905;
    stroke-dasharray: 248.45840454101562;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.1s ease;
}



.progress-container {
    stroke: darken(#392F32, 5%);
    stroke-width: 2px;
    fill: #ffffff;
}


.progress-content {
    stroke: darken(#C2E362, 5%);
    stroke-width: 2px;
    fill: #ffffff;
}

.progress-content line {
    fill: #fff !important;
}

.throttle-rect-svg {

    position: absolute;
}

.main-rect {
    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 0.1s;
    transform: scaleY(70%);
    transform-origin: 100% 100%;
}

/* .throttle-rect {

    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 0.1s;
    transform: scaleY(40%);
    transform-origin: 100% 100%;

} */

/* @keyframes rect-progress {

} */

.stat {
    width: 200px;
}

.throttle-box {
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid white;

}

/* Throttle progress bar */
.load-throttle {
    margin: 0 auto;
    width: 25px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}

.throttle {
    width: 100%;
    display: block;
    font-family: arial;
    font-size: 12px;
    background-color: #27bb19;
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 30%;
}

.throttle-header {
    margin: 0;
}



.load-brake {
    margin: 0 auto;
    width: 25px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}


.brake-header {
    margin: 0;
}

.brake-box {
    grid-row: 1/2;
    grid-column: 2/3;
    border: 2px solid white;

}

.brake-rect-svg {
    position: absolute;
}



.gear-box {
    grid-row: 2/3;
    grid-column: 3/4;
    border: 2px solid white;
}

.gear-header {}

.front-left-tire-box {
    grid-row: 4/5;
    grid-column: 1/2;
    border: 2px solid white;
}

.front-right-tire-box {
    grid-row: 4/5;
    grid-column: 2/3;
    border: 2px solid white;
}

.position-box {
    grid-row: 4/5;
    grid-column: 3/4;
    border: 2px solid white;
}

.rear-left-tire-box {
    grid-row: 5/6;
    grid-column: 1/2;
    border: 2px solid white;
}

.rear-right-tire-box {
    grid-row: 5/6;
    grid-column: 2/3;
    border: 2px solid white;
}

.engine-rpm-box {
    grid-row: 5/6;
    grid-column: 3/4;
    border: 2px solid white;
}

.lap-times {
    grid-row: 1/2;
    grid-column: 8/10;
    border: 2px solid white;

}

.best-lap {}

.best-lap-number {}

.last-lap {}

.last-lap-number {}

.current-lap-sectors {
    grid-row: 2/3;
    grid-column: 8/10;
    border: 2px solid white;

}



.current-lap-header {
    text-align: center;
    margin: 0;
}

.sectors {
    text-align: center;
}

.sector-time {
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}

.sector {}

.player-ahead {
    grid-row: 4/5;
    grid-column: 8/9;
    text-align: center;
    align-items: center;
    border: 2px solid white;


}

.player-ahead-header {
    margin: 0;
}

.player-ahead-name {
    margin: 0;
}



.player-ahead-time {}

.player-ahead-pace {}

.player-behind {
    grid-row: 4/5;
    grid-column: 9/10;
    text-align: center;
    align-items: center;
    border: 2px solid white;


}

.player-behind-header {
    margin: 0;
}

.player-behind-name {
    margin: 0;
}


.player-behind-time {}

.player-behind-pace {}



.best-time {
    color: #bd34eb;
}


.img-div {
    height: 100%;
    width: 100%;
    grid-row: 1/5;
    grid-column: 4/7;
    /* mix-blend-mode: multiply; */
    background-image: url('spa.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: relative;

    /* background-color: blue; */
}